<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/dashboard.css" />
    <link rel="stylesheet" href="./css/posts.css" />
  </head>
  <body>
    <div class="mobileHeader">
      <div class="backBtn">
        <i class="fa-solid fa-xmark"></i>
        <p>close</p>
      </div>
      <nav class="mobileNavigation">
        <ul>
          <li>
            <a class="nav-item" href="/"
              >About
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="/"
              >My Work
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="/blog"
              >Blog
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="/"
              >Contact Me
              <div></div
            ></a>
          </li>
        </ul>
      </nav>
      <div id="mobile-screen-profile" class="profileContainer">
        <div>
          <img src="./images/<%=user.profileImg%>" alt="" />
          <p><%=user.name%></p>
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="mobileProfileOptions">
        <a href="/posts">Dashboard</a>
        <a href="/logout">Log out</a>
      </div>
    </div>
    <header>
      <nav class="navigation">
        <ul>
          <li>
            <a class="nav-item" href="/"
              >About
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="/"
              >My Work
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="/blog"
              >Blog
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="/"
              >Contact Me
              <div></div
            ></a>
          </li>
        </ul>
      </nav>
      <div class="menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="profileOptions">
        <a href="/posts">Dashboard</a>
        <a href="/logout">Logout</a>
      </div>
      <div id="wide-screen-profile" class="profileContainer">
        <div>
          <img src="./images/<%=user.profileImg%>" alt="" />
          <p><%=user.name%></p>
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </header>
    <main>
      <select class="mobileSectionContainer" name="dashpage" id="dashNavigation">
        <option value="Posts" selected>Posts (14)</option>
        <option value="Messages">Messages (121)</option>
        <option value="Users">Users (234)</option>
        <option value="Notifications">Notifications (121)</option>
        <option value="Account">Account</option>
      </select>
      <div class="sectionContainer">
        <a href="/posts">
          <div class="section active">
            <p class="sectionName">Posts</p>
            <p class="sectionCount">121</p>
          </div>
        </a>
        <a href="/messages">
          <div class="section">
            <p class="sectionName">Messages</p>
            <p class="sectionCount">142</p>
          </div>
        </a>
        <a href="/users">
          <div class="section">
            <p class="sectionName">Users</p>
            <p class="sectionCount">123</p>
          </div>
        </a>
        <a href="/notifications">
          <div class="section">
            <p class="sectionName">Notifications</p>
            <p class="sectionCount">12</p>
          </div>
        </a>
        <a href="/account">
          <div class="section">
            <p class="sectionName">Account</p>
          </div>
        </a>
      </div>
      <div class="controlsContainer">
        <input type="text" class="searchContainer" placeholder="Search posts" />
        <div class="sortControls">
          <select name="posts" id="posts">
            <option value="recent">Most Recent</option>
            <option value="likes">Most Viewed</option>
            <option value="views">Most liked</option>
            <option value="comments">Most Comments</option>
          </select>
        </div>
      </div>
      <div class="mainContent">
        <div class="posts">
          <% if(posts.length===0){%>
            <p class="errMessage">No Posts Available!</p>
          <% } else{ posts.forEach(post=>{%>
            <div class="post">
              <div class="postData">
                <a class="postTitle" href="/post?pid=<%= post._id%>"><%= post.title%></a>
                <p class="postDate">Published on: <%= new Date(post.createdAt).toLocaleString()%></p>
              </div>
              <div class="postSideContainer">
                <div class="interactions">
                  <div class="postViews">
                    <i class="fa-regular fa-eye"></i>
                    <p><%= post.views%></p>
                  </div>
                  <div class="postLikes">
                    <i class="fa-regular fa-heart"></i>
                    <p><%= post.likes%></p>
                  </div>
                  <div class="postComments">
                    <i class="fa-regular fa-comment"></i>
                    <p><%= post.comments%></p>
                  </div>
                </div>
                <i class="fa-solid fa-ellipsis moreOptionsBtn"></i>
                <div class="postOptions options">
                  <a class="postEdit" href="/posts/editPost?pid=<%=post._id%>">Edit</a>
                  <a onclick="deletePost('<%= post._id%>')" class="postDelete" href="#">Delete</a>
                </div>
              </div>
            </div>
          <% })}%>
        </div>
        <a href="/posts/newpost" class="newPost btn">New Post</a>
      </div>
    </main>
    <div class="confirmPopup">
      <p>Are you sure you want to delete this post?</p>
      <div class="confirm">
        <a class="cancelBtn" href="#">Cancel</a>
        <a class="confirmBtn" href="#">Confirm</a>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/3f2aa35973.js"
    crossorigin="anonymous"
  ></script>
  <script src="./js/htmx.min.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/popups.js"></script>
  <script src="./js/navigation.js"></script>
  <script>
    const postsContainer=document.querySelector(".posts")
    const postDeleteBtns=document.querySelectorAll(".postDelete")
    const confirmPopup=document.querySelector(".confirmPopup")
    const confirmBtn=document.querySelector(".confirmBtn")
    const cancelBtn=document.querySelector(".cancelBtn")

    const deletePost=(pid)=>{
      if(confirmPopup.style.display==="block") return
      confirmPopup.style.display="block"
      confirmBtn.onclick=()=>{
        deleteResource(pid)
        confirmPopup.style.display="none"
      }
    }

    const deleteResource=async(pid)=>{
      const response=await fetch(`/posts/deletePost?pid=${pid}`,{method:"DELETE"})
      const data=await response.json()
      console.log(data)
      updatePosts()
    }

    cancelBtn.onclick=()=>{
      confirmPopup.style.display="none"
    }

    const updatePosts=async()=>{
      const response=await fetch(`/posts/getPosts`)
      const data=await response.json()
      if(!data||data.status==="failed"){
        postsContainer.innertHTML='<p class="errMessage">An error occured, please refresh this page.</p>'
        return
      }
      postsContainer.innerHTML=""
      data.posts.forEach(post=>{
        postsContainer.innerHTML+=`
        <div class="post">
              <div class="postData">
                <a class="postTitle" href="/post?pid=${post._id}">${post.title}</a>
                <p class="postDate">Published on: ${new Date(post.createdAt).toLocaleString()}</p>
              </div>
              <div class="postSideContainer">
                <div class="interactions">
                  <div class="postViews">
                    <i class="fa-regular fa-eye"></i>
                    <p>${post.views}</p>
                  </div>
                  <div class="postLikes">
                    <i class="fa-regular fa-heart"></i>
                    <p><${post.likes}</p>
                  </div>
                  <div class="postComments">
                    <i class="fa-regular fa-comment"></i>
                    <p>${post.comments}</p>
                  </div>
                </div>
                <i class="fa-solid fa-ellipsis moreOptionsBtn"></i>
                <div class="postOptions options">
                  <a class="postEdit" href="/posts/editPost?pid=${post._id}">Edit</a>
                  <a class="postDelete" onclick="deletePost('${post._id}')">Delete</a>
                </div>
              </div>
            </div>
        `
      })
    }

  </script>
