<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/blog.css" />
  </head>
  <body>
    <div class="mobileHeader">
      <div class="backBtn">
        <i class="fa-solid fa-xmark"></i>
        <p>close</p>
      </div>
      <nav class="mobileNavigation">
        <ul>
          <li>
            <a class="nav-item" href="./index#aboutSection"
              >About
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index#projectsSection"
              >My Work
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item active" href="./blog"
              >Blog
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index#contactSection"
              >Contact Me
              <div></div
            ></a>
          </li>
        </ul>
      </nav>
      <% if(user){ %>
      <div id="mobile-screen-profile" class="profileContainer">
        <div>
          <img src="./images/<%= user.profileImg%>" alt="" />
          <p><%= user.name%></p>
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="mobileProfileOptions">
        <a href="./dashboard">Dashboard</a>
        <a href="./blog">Log out</a>
      </div>
      <%} else {%>
        <a id="mobileLoginBtn" class="btn" href="./login">Login</a>
      <% } %>
    </div>
    <header>
      <nav class="navigation">
        <ul>
          <li>
            <a class="nav-item" href="./index#aboutSection"
              >About
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index#projectsSection"
              >My Work
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item active" href="./blog"
              >Blog
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index#contactSection"
              >Contact Me
              <div></div
            ></a>
          </li>
        </ul>
      </nav>
      <div class="menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <% if(user){%>
      <div class="profileOptions">
        <a href="./dashboard">Dashboard</a>
        <a href="./blog">Logout</a>
      </div>
      <div id="wide-screen-profile" class="profileContainer">
        <div>
          <img src="./images/<%=user.profileImg %>" alt="" />
          <p><%=user.name%></p>
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <%} else {%>
        <a id="loginBtn" class="btn" href="./login">Login</a>
      <% } %>
    </header>
    <main>
      <div class="controlsContainer">
        <input class="searchContainer" type="text" placeholder="Search posts" />
        <div class="sortControls">
          <select name="posts" id="posts">
            <option value="recent">Most Recent</option>
            <option value="likes">Most Viewed</option>
            <option value="views">Most liked</option>
            <option value="comments">Most Comments</option>
          </select>
        </div>
      </div>
      <div class="postContainer">
        <% if(posts.length===0){%>
          <p class="errMessage">No Posts Available!</p>
        <% } else{ posts.forEach(post=>{%>
          <div class="post">
            <a class="postTitle" href="./post?pid=<%= post._id%>"><%= post.title%></a>
            <%- post.content%>
            <a class="postReadMore" href="./post?pid=<%= post._id%>">Read more</a>
            <div class="stats">
              <div>
                <i class="fa-regular fa-heart"></i>
                <p><%= post.likes%> likes</p>
              </div>
              <div>
                <i class="fa-regular fa-comment"></i>
                <p><%= post.comments%> comments</p>
              </div>
            </div>
          </div>
        <% })} %>
      </div>
    </main>
  </body>
  <script
    src="https://kit.fontawesome.com/3f2aa35973.js"
    crossorigin="anonymous"
  ></script>
  <script src="./js/main.js"></script>
  <script src="./js/htmx.min.js"></script>
<>
